{% load widget_tweaks %}
{% load static %}
{% static "images" as url %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title%} {% endblock %}</title>
	<link rel="icon" href="{% static 'img/packlogo1.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!-------------------------------------------------------------------->


<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
      </nav>
    </div>
  </header>

{% block content %}{% endblock %}
</body>

 <!--================ Start footer Area  =================-->
	<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Mission</h4>
							<p>
								Pay Bills
							</p>

						</div>
					</div>
					
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Partners</h4>
							<ul class="list instafeed d-flex flex-wrap">
								{% for Social in socls %}
								<li> <a href="{{Socil.Twitter}}"></a>
								</li>
<li> <a href="{{Social.Twitter}}">Twitter</a>
								</li>
<li> <a href="{{Social.reddit}}">Reddit</a>
<li> <a href="{{Social.facebook}}">Reddit</a>
<li> <a href="{{Social.instagram}}">Reddit</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact me</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p>Masinde Muliro University Of Science & Technology, Kakamega, Kenya</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p><a href="tel:+254798787850">+254798787850</a></p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
								<a href="mailto:murgorcrypto@gmail.com">murgorcrypto@gmail.com</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</footer>
	<!--================ End footer Area  =================-->



  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/skrollr.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'vendors/mail-script.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
